// The article container
.article {
  // Neat grid mixins
	@include outer-container;

  // Component styles
  padding: calc(2 * #{$padding});
  margin: $margin auto;

  // Component media queries
	@media screen and (max-width: 600px) {
	    padding: $padding;
	}
}

// Container for both the header tags.
.article__hgroup {

}

// Styles applied to both header tags.
.article__heading,
.article__sub-heading {
  // Neat grid mixins
  @include span-columns(8);
  @include shift(2);

  // Component styles
  text-transform: uppercase;
  text-align: center;

  // Component media queries.
  @media screen and ( max-width: 960px ) {
    @include span-columns(8);
    @include shift(2);
  }

  @media screen and ( max-width: 730px ) {
    @include span-columns(12);
    @include shift(0);
  }
}

// The article heading (first heading row)
.article__heading {
  // Component styles
	color: $white;
  font-size: 3vw;

  // Component responsive queries.
  @media screen and( min-width: 1880px ) {
    font-size: 52px;
  }

  @media screen and( max-width: 960px ) {
    font-size: 3.6vw;
  }

  @media screen and( max-width: 600px ) {
    font-size: 5.4vw;
  }
}

// The yellow subheading (second heading)
.article__sub-heading {
	// Component styles
  color: $yellow;
  font-size: 4vw;

  // Component responsive queries
  @media screen and( min-width: 1880px ) {
    font-size: 70px;
  }

  @media screen and ( max-width: 960px ) {
    font-size: 4.8vw;
  }

  @media screen and( max-width: 600px ) {
    font-size: 7.2vw;
  }
}

// The article text content.
.article__content {
  // Neat grid mixins.
  @include span-columns(8);
  @include shift(2);

  // Component styles.
  color: $white;
  margin-top: $margin;
  line-height: 1.5;

  // Component responsive queries
  @media screen and ( max-width: 960px ) {
    @include span-columns(8);
    @include shift(2);
  }

  @media screen and ( max-width: 730px ) {
    @include span-columns(12);
    @include shift(0);
  }
}
