.consultants-container {
  // Bourbon mixin
  @include linear-gradient(rgb(13, 38, 60), rgb(164, 210, 220));

  // Component styles
  padding: calc(2 * #{$padding});
  float: left;
  width: 100%;
  background-size: 100%;

  @media screen and ( max-width: 440px ) {
    padding: $padding;
  }
}

.consultants {
  // Neat grid mixin
  @include outer-container();
}

.consultants__info {
  // Neat grid mixin
  @include span-columns(6);
}

.consultants__info__heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: $margin / 2;
}

.consultants__intro__text {
  color: #fff;
  line-height: 1.5;
}

.consultants__info__prefix {
  color: #fff;
  margin-bottom: $margin / 4;
}

.consultants__info__list {
  list-style-type: circle;
  margin-left: $margin / 2;
}

.consultants__info__list__item {
  color: #fff;
  margin-bottom: $margin / 4;
}

.consultants__illustration {
  // Neat grid mixin
  @include span-columns(6);
}

.consultants__illustration__with-text {
  position: relative;
  &:before {
    content: 'Om du hyr en konsult av LS Entertainment får du en ambitiös och noggrann person som är van att ta mycket eget ansvar. Skriv in mer text om vad vi kan erbjuda och hur vi är vana att arbeta gentemot företag. Information om prisuppgifter.';
    position: absolute;
    font-family: $fontStack;
    color: #fff;
    background: rgba(250, 166, 64, .8);
    bottom: 3px;
    left: 0;
    width: 100%;
    padding: 12px;
    font-size: .9rem;
    line-height: 1.3;
  }
}

.consultants__illustration__image {
  width: 100%;
}

// White divider between member info and portfolio
.consultants__divider {
  // Neat grid mixins
  @include outer-container();

  // Component styles
  max-width: 68em;
  height: 2px;
  background: #fff;
  margin-top: $margin;
  margin-bottom: $margin;

  &:last-of-type {
    background: transparent;
    margin-bottom: 2*$margin;
  }

  // Responsive queries
  @media screen and ( max-width: 960px ) {
    margin: 2*$margin 0;
  }
}
