// The front page footer container
.footer-front-page {
  // Component styles
  float: left;
  width: 100%;
  background: rgb(13, 38, 60);
  text-align: center;
}

// The div holding the image
.footer-front-page__image__container {
  background: rgb(207, 225, 230);
}

.footer-front-page__image {
  margin-bottom: -5px;
  width: 100%;
}

// Inner footer wrapper
.footer-front-page__content {
  // Neat grid mixins
  @include outer-container;
  padding: $padding;
}

// The footer heading text
.footer-front-page__heading {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: $padding;
  font-size: 3vw;
  color: $red;
  border-bottom: 1px solid #fff;

  // Component responsive queries
  @media screen and ( max-width: 720px ) {
    font-size: 5vw;
  }
}

// The footer text content
.footer-front-page__text {
  text-align: left;
  padding: 0 $padding;
  margin-top: $margin;
  color: #fff;
  line-height: 1.5;

  // Component responsive queries
  @media screen and ( max-width: 720px ) {
    padding: 0;
  }
}

// Highlights in the footer text
.footer-front-page__highlight {
  font-weight: 800;
  font-size: 1.2rem;
}
