// The team container
.team {
  // Neat grid mixins
  @include outer-container;

  // Component styles
  padding: calc(2 * #{$padding}) calc(2 * #{$padding}) 0 calc(2 * #{$padding});
  margin: $margin auto;

  // Component responsive queries
  @media screen and (max-width: 600px) {
      padding: $padding;
  }
}

// Team background image
.team__background__image {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 35%;
}

// The team headline
.team__heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 3vw;
  color: #fff;
  margin-bottom: $margin / 2;

  // Component responsive queries
  @media screen and ( max-width: 720px ) {
    font-size: 5vw;
  }
}

// The team desciption text
.team__body {
  // Neat grid mixins
  @include span-columns(8);
  @include shift(2);

  // Component styles
  line-height: 1.5;
  margin-bottom: $margin;

  // Component responsive queries
  @media screen and ( max-width: 740px ) {
    @include span-columns(12);
    @include shift(0);
  }
}

// Container for all the team members
.team__members {
  // Neat grid mixins
  @include span-columns(12);
}

// Single team member container
.team__member {
  // Neat grid mixins
  @include span-columns(4);
  @include omega(3n);

  // Resposive media queries
  @media screen and ( max-width: 845px ) {
    @include omega-reset(3n);
    @include span-columns(12);
  }

  @media screen and ( max-width: 440px ) {
    position: relative;
    &:not(:last-of-type){
      margin-bottom: $margin;
    }
  }
}

// Team member info (below picture) container
.team__member__info {
  // Neat grid mixins
  @include span-columns(12);

  // Responsive queries
  @media screen and ( max-width: 845px ) {
    @include span-columns(8);
  }
}

// The team member portrait container
.team__member__image__container {
  // Neat grid mixins
  @include span-columns(12);

  // Component styles
  margin-bottom: $margin / 4;

  // Media queries
  @media screen and ( max-width: 845px ) {
    @include span-columns(4);
    border-radius: 50%;
  }

  @media screen and ( max-width: 440px ) {
    display: table-cell;
    vertical-align: middle;
  }
}

.team__member__image {
  max-width: 100%;
}

// The member name text
.team__member__name {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: $margin / 4;
}

// Team members profession
.team__member__role {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: $margin / 4;
}

// Single team member description
.team__member__text {
  line-height: 1.4;
  font-size: .9rem;
  margin-bottom: $margin / 2;

  // Component responsive queries
  @media screen and ( max-width: 440px ) {
    display: none;
  }
}

// Team member contact container
.team__member__contact {

}

.team__member__phone__img,
.team__member__email__img {
  vertical-align: bottom;

  // Component responsive queries
  @media screen and ( max-width: 800px ) {
    display: none;
  }
}

.team__member__contact__container {
  float: left;
  display: table;
  margin-bottom: $margin/2;

  @media screen and ( max-width: 1000px ) {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
}

.team__member__contact__email,
.team__member__contact__phone {
  padding-left: $padding / 4;
  display: table-cell;
  vertical-align: bottom;
  color: #000;

  @media screen and ( max-width: 1000px ) {
    display: block;
    padding-left: 0;
  }
}

// A members email address
.team__member__contact__email {
  font-size: .9rem;
  margin-bottom: $margin / 2;
}

// A members phone number
.team__member__contact__phone {
  font-size: 1rem;

  // Component responsive queries
  @media screen and ( max-width: 845px ) {
    margin-bottom: $margin;
  }

  @media screen and ( max-width: 440px ) {
    margin-bottom: 0;
  }
}
