// This stylesheet contains styles that
// makes the page foundation, such as
// box-sizing, anchor colors etc.
html {
  box-sizing: border-box;
  font-family: $fontStack;
  font-weight: 300;
}

// Let everything inherit html's box-sizing.
*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

// Set up anchors.
a {
	text-decoration: none;
	color: $white;
}

// Declare document width and height
html, body {
	width: 100%;
	height: 100%;
}

// Container, will be used as a wrapper on multiple places.
.container {
	// Component styles
  float: left;
	width: 100%;
	height: 100vh;

  // Component responsive queries
  @media screen and ( max-width: 960px ) {
    height: auto;
  }
}

// Container variations.
.container--dark-gradient {
  @extend .container;

  background: rgb(13, 38, 60);
  background-image: url(img/bg-mtns.png); /* fallback */
  background-image: url(img/bg-mtns.png), -webkit-gradient(linear, left top, left bottom, from(rgb(13, 38, 60)), to(rgb(170,203,209))); /* Saf4+, Chrome */
  background-image: url(img/bg-mtns.png), -webkit-linear-gradient(top, rgb(13, 38, 60), rgb(170,203,209)); /* Chrome 10+, Saf5.1+ */
  background-image: url(img/bg-mtns.png),    -moz-linear-gradient(top, rgb(13, 38, 60), rgb(170,203,209)); /* FF3.6+ */
  background-image: url(img/bg-mtns.png),      -o-linear-gradient(top, rgb(13, 38, 60), rgb(170,203,209)); /* Opera 11.10+ */
  background-image: url(img/bg-mtns.png),         linear-gradient(to bottom, rgb(13, 38, 60), rgb(170,203,209)); /* W3C */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;

  // Component responsive queries
  @media screen and ( max-width: 960px ) {
    @include linear-gradient(rgb(13, 38, 60), rgb(170,203,209));
  }
}

.container--beige-gradient {
  @extend .container;
  @include linear-gradient(rgb(213, 205, 177), rgb(231, 227, 215));
}

.container--blue-gradient {
  @extend .container;
  @include linear-gradient(rgb(130, 172, 197), rgb(207, 225, 230));

  height: auto;
}

// Float classes
.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

// Text-alignment classes.
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

// Mixin to reset omega when media queries fires
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
