.navigation {
	/* The nav container */
	position: fixed;
	top: 0;
	left: 0;
  width: 100%;
  z-index: 1;
  @include linear-gradient(to right, transparent, rgba(13, 38,60, .6));
  transition: transform 250ms ease;
  // Responsive queries
  @media screen and ( max-width: 768px ) {
    background: rgba(13, 38, 60, .4);
    transition: transform 300ms ease;
  }
}

.navigation--desktop__closed {
  @media screen and ( min-width: 769px ) {
    transform: translateY(-100%);
  }
}

.navigation--mobile__closed {
  @media screen and ( max-width: 768px ) {
    transform: translateY(-100%);
  }
}

.navigation__extras {
  // Component styles
  display: none;
  position: fixed;
  right: 0;
  z-index: 2;
  transition: transform 250ms ease;
  width: 50%;
  pointer-events: none;

  // Component responsive queries
  @media screen and ( min-width: 769px ) {
    display: block;
  }
}

.navigation__extras__inner {
  position: relative;
  float: right;
  width: 25%;
  text-align: center;
}

.navigation__extras__inner a {
  float: left;
  width: 50%;
  text-align: center;
  pointer-events: all;
}

.navigation__extras__inner img {
  max-width: 100%;
}

.navigation__trigger {
  div {
    display: none;
  }

  // Component responsive queries
  @media screen and ( max-width: 768px ) {

    display: block;
    position: fixed;
    z-index: 2;
    top: .6rem;
    right: .6rem;
    background: #0d263c;
    height: 42px;
    width: 47px;
    border-radius: 3px;

    div {
      display: block;
      position: fixed;
      z-index: 3;
      top: 1.2rem;
      right: 1.2rem;
      background: #faa640;
      height: 5px;
      width: 28px;
      border-radius: 3px;
      transition: transform 250ms ease;

      &:before {
        position: absolute;
        content: '';
        top: 9px;
        left: 0;
        width: 100%;
        height: 5px;
        background: #faa640;
        border-radius: 3px;
        transition: opacity 250ms ease, transform 250ms ease;
      }

      &:after {
        position: absolute;
        content: '';
        top: 18px;
        left: 0;
        width: 100%;
        height: 5px;
        background: #faa640;
        border-radius: 3px;
        transition: transform 250ms ease;
      }
    }
  }
}

.navigation__trigger .navigation__trigger--opened {
  transform: rotateZ(45deg) translate(.3rem, -.2rem);
  transform-origin: 0 0;
  &:before {
    opacity: 0;
    transform: translateX(-200%);
  }

  &:after {
    transform: translate(0%, -350%) rotateZ(-90deg);
    transform-origin: 0, 0;
  }
}

.navigation__options {
	/* The ul */
  float: right;
  width: 50%;

  // Responsive media queries
  @media screen and ( max-width: 768px ) {
    float: left;
    width: 100%;
  }
}

.navigation__item {
	/* The li */
  float: left;
	height: 50px;
  width: 25%;
  display: table;

	a {
    display: table-cell;
    text-transform: uppercase;
    vertical-align: middle;
		width: 100%;
		text-align: center;
		height: 100%;
	}

  @media screen and ( max-width: 768px ) {
    width: 100%;
  }
}

.current-menu-item {
	/* Wordpress own active class,
	   it is set on the li element */

    background: rgba(13, 38, 60, .8);
    font-weight: bold;
    font-size: 1.2rem;
}
