.navigation {
	/* The nav container */
	position: fixed;
	top: 0;
	left: 0;
  width: 100%;
  @include linear-gradient(to right, transparent, rgba(13, 38,60, .6));

  // Responsive queries
  @media screen and ( max-width: 768px ) {
    background: rgba(13, 38, 60, .4);
    transition: transform 300ms ease;
    z-index: 1;
  }
}

.navigation--mobile__closed {
  @media screen and ( max-width: 768px ) {
    transform: translateY(-100%);
  }
}

.navigation__trigger {
  div {
    display: none;
  }
  @media screen and ( max-width: 768px ) {

    display: block;
    position: fixed;
    z-index: 2;
    top: .6rem;
    right: .6rem;
    background: #0d263c;
    height: 42px;
    width: 47px;
    border-radius: 3px;

    div {
      display: block;
      position: fixed;
      z-index: 3;
      top: 1.2rem;
      right: 1.2rem;
      background: #faa640;
      height: 5px;
      width: 28px;
      border-radius: 3px;
      transition: transform 250ms ease;

      &:before {
        position: absolute;
        content: '';
        top: 9px;
        left: 0;
        width: 100%;
        height: 5px;
        background: #faa640;
        border-radius: 3px;
        transition: opacity 250ms ease;
      }

      &:after {
        position: absolute;
        content: '';
        top: 18px;
        left: 0;
        width: 100%;
        height: 5px;
        background: #faa640;
        border-radius: 3px;
        transition: transform 250ms ease;
      }
    }
  }
}

.navigation__trigger .navigation__trigger--opened {
  top: 1.2rem;
  right: .8rem;
  transform: rotateZ(45deg);
  transform-origin: 0 0;
  &:before {
    opacity: 0;
  }

  &:after {
    transform: translate(0%, -350%) rotateZ(-90deg);
    transform-origin: 0, 0;
  }
}

.navigation__options {
	/* The ul */
  float: right;
  width: 50%;

  // Responsive media queries
  @media screen and ( max-width: 768px ) {
    float: left;
    width: 100%;
  }
}

.navigation__item {
	/* The li */
  float: left;
	height: 50px;
  width: 25%;
  display: table;

	a {
    display: table-cell;
    text-transform: uppercase;
    vertical-align: middle;
		width: 100%;
		text-align: center;
		height: 100%;
	}

  @media screen and ( max-width: 768px ) {
    width: 100%;
  }
}

.current-menu-item {
	/* Wordpress own active class,
	   it is set on the li element */

  @media screen and ( max-width: 768px ) {
    background: rgba(13, 38, 60, .8);
    font-weight: bold;
    font-size: 1.2rem;
  }
}
