// The parallax container
.parallax {
  // Component styles
	z-index: -1;
	float: left;
	position: relative;
	width: 100%;
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	background: rgb(46,88,122);
	background: -moz-linear-gradient(top, rgba(46,88,122,1) 0%, rgba(165,221,234,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,88,122,1)), color-stop(100%,rgba(165,221,234,1)));
	background: -webkit-linear-gradient(top, rgba(46,88,122,1) 0%,rgba(165,221,234,1) 100%);
	background: -o-linear-gradient(top, rgba(46,88,122,1) 0%,rgba(165,221,234,1) 100%);
	background: -ms-linear-gradient(top, rgba(46,88,122,1) 0%,rgba(165,221,234,1) 100%);
	background: linear-gradient(to bottom, rgba(46,88,122,1) 0%,rgba(165,221,234,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e587a', endColorstr='#a5ddea',GradientType=0 );

  // Component responsive queries
  @media screen and (max-width: 960px) {
    min-height: 50vh;
	}
}

// Every component inside the parallax parent
// should have this class.
.parallax__layer {
	position: absolute;
	max-width: 100%;
}

// Specific parallax components
.parallax__layer--rocks {
	position: absolute;
	bottom: 0;
	left: 0;
}

.parallax__layer--climber {
  // Component styles
  will-change: transform;

  // Component responsive queries.
	@media screen and (max-width: 640px) {
    display: none;
	}
}

.parallax__layer--balloon {
  // Component styles.
	top: 0;
	right: 5%;
	top: 20%;
	width: 250px;
  will-change: transform;

  // Component responsive queries.
	@media screen and (max-width: 960px) {
    display: none;
	}
}

.parallax__layer--clouds-front {
	left: 25%;
	top: 5%;
	width: 50%;
  will-change: transform;
}

.parallax__layer--clouds-back {
	top: 20%;
	left: 15%;
	width: 75%;
  will-change: transform;
}

.parallax__layer--logo {
  // Component styles
	top: 25%;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	width: 350px;
  will-change: transform;

  // Component responsive queries
	@media screen and (max-width: 960px) {
    width: 200px;
	}

	@media screen and (max-width: 400px) {
    width: 150px;
	}
}

.parallax__layer--water {
	bottom: 0;
	left: 0;
	width: 100%;
  will-change: transform;
}

.parallax__layer--back {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  will-change: transform;
}

.parallax__layer__image {
	max-width: 100%;
}
