// Color variables
$white: #fff;
$red: #cc2c29;
$blue: #08263c;
$blue2: #1e3e59;
$blue3: #2e587a;
$blue4: #85b4d3;
$blue5: #cfe2ec;
$blue6: #dfebf1;
$blue7: #e8e5dd;
$blue8: #d9d2b8;
$yellow: #faa640;

// Spacing variables, margin etc
$margin: 2rem;
$padding: 2rem;

// Font and typography variables
$fontStack: 'Open Sans', sans-serif;
